.footer{
    height: 20%;
    display: flex;
    justify-content: center;
}
.slogan{
    width: 60%;
    height: 100%;
}
.slogan p{
    font-size:40px;
}
.imageAd{
    height: 150px;
    position: absolute;
    bottom: 30px;
    right: 100px;
}